body {
  margin: 0;
  font-family: 'El Messiri', sans-serif;
font-family: 'Faustina', serif;
font-family: 'Pridi', serif;
  background-color: rgb(18, 43, 124);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
